*.pyc
*.so
*.o
#*
.#*
.DS_Store
.nfs*
*.orig
*.org
*.reg
*~
.#*
#*
winapplet
macapplet/build
macapplet/dist
macapplet/launch_piscope.app
mac/applet
mac/applet
mac/dist
mac/build
!/build/*.o
!/build/*.o